*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.heading{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 5vw;
  text-align: center;
  margin: 50px 0;
  padding: 16px 32px;
}

.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.images img{
      margin: 4px;

}

body{
  /* background-color: blue; */
  background-color: #0f171e;
}

form{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0 auto;
  padding: 16px 32px;
  height: 100px;
  width: 500px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
}
h1{
  color: pink;
}

ul{
  text-align: left;
  margin: 15px;
  padding: 16px 32px;
}

li{
  color: white;
  font-size: 20px;
}

/* .heading__style{
  padding: 100px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
} */

.heading__style{
  font-weight: 700;
  font-size: 19px;
}



.cards{
  margin: 0 auto;
} 

.card{
  margin: 5px;
  transition: all 0.4s;
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  border-radius: 12px;
  float: left;
  text-align: center;
}
.card:hover{
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.card__info{
  letter-spacing: 1px;
  margin: 4px;
  line-height: 30px;
  padding: 10px;
}
.card_img{
  width: 300px;
  height: 200px;
  border-radius: 12px;

}
button{
  border-radius: 5px;
  border: none;
  margin: 7px;
  padding: 10px;
}